BasedOnStyle: LLVM
ColumnLimit: 120
IndentWidth: 4
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -4
SpaceAfterTemplateKeyword: false
AllowShortFunctionsOnASingleLine: Inline
AlignAfterOpenBracket: BlockIndent
AllowShortBlocksOnASingleLine: true
ReflowComments: false
BinPackParameters: false
BreakBeforeTernaryOperators: false
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
BreakBinaryOperations: RespectPrecedence
AlwaysBreakTemplateDeclarations: Yes
AllowShortEnumsOnASingleLine: false
PenaltyReturnTypeOnItsOwnLine: 10000
PenaltyBreakAssignment: 1000