build/
build-emscripten/
.vscode/
.VSCodeCounter/
.idea/
doc/html
doc/latex
doc/xml
doc/json
doc/pocket/**
*.tar.gz
*.dump
CMakeUserPresets.json
test/test_env/create_dataset/api_key.ini
test/test_env/create_dataset/ServerData.json
test/test_env/create_dataset/ServerData.ini
test/test_env/create_dataset/Dataset_*
test/.venv/
test/test_env/utils/volumes/bridge/*
test/test_env/utils/volumes/mongo/*
test/logs
test/volumes
*.log
