build/
build-emscripten/
.vscode/
.VSCodeCounter/
.idea/
.clangd
doc/html
doc/latex
doc/xml
doc/json
doc/pocket/**
*.tar.gz
*.dump
CMakeUserPresets.json
test/env/create_dataset/api_key.ini
test/env/create_dataset/ServerData.json
test/env/create_dataset/ServerData.ini
test/env/datasets/Dataset_*
test/runner/.venv/
test/env/create_dataset/volumes/bridge/*
test/env/create_dataset/volumes/mongo/*
test/runner/logs
test/env/volumes
*.log
**/__pycache__/
